name: Publish to Winget
on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Release tag to publish (e.g., 1.10.4)'
        required: true
jobs:
  publish:
    runs-on: windows-latest
    steps:
      - name: Publish to WinGet
        uses: vedantmgoyal9/winget-releaser@v2
        with:
          identifier: Odizinne.QontrolPanel
          release-tag: ${{ inputs.release_tag || github.event.release.tag_name }}
          installers-regex: 'QontrolPanel_Installer\.exe$'
          token: ${{ secrets.WINGET_TOKEN }}